@charset "utf-8";
/* CSS Document */

/*
Author: Maria Castillo
Date: 23 December 2025
File Name: stylesheet.css
*/

/*CSS Style Reset*/

		h1, h3 {
		  font-family: "DM Serif Display", serif;
		  font-weight: 500;
		  font-style: italic;
		}
		body {
			  background-image: linear-gradient(to bottom, #c0e6e7, #fff);
			  background-attachment: fixed;
			  min-height: 100vh;
		}
		.logos-img {
			display: block;
			margin: auto;
			width: 100%;
		    max-width: 300px;
			height: auto;
		}
		
		p {
			width: 80%;
			text-align: center;
			margin: auto;
		}
		.outfit-about {
		  font-family: "Outfit", sans-serif;
		  font-optical-sizing: auto;
		  font-weight: 400;
		  font-style: normal;
		  font-size: 1.5em;
		  text-align: center;
		}
		.outfit-about-info {
		  font-family: "Outfit", sans-serif;
		  font-optical-sizing: auto;
		  font-weight: 400;
		  font-style: normal;
		  font-size: 1.2em;
		  text-align: center;
		}
		
		footer {
		  padding-bottom: 10px;
		  padding-top: 10px;
		  font-weight: 400;
		  font-style: normal;
		  font-size: .75em;
		  width: 80%;
		  margin: auto;
		}

		footer a {
			color: #000;
		}		

		img.footicon {
			margin: auto;		    
			width: 100%;
		    max-width: 70px;
			height: auto;
			border: 0;
			display: inline-block;
			padding: 0 10px;

		}		

/* Style rules for mobile viewport*/



/* Hide tab-desk class*/

.tab-desk {
		display: none;
}

		input[type=text], input[type=email], input[type=tel], textarea  {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			box-sizing: border-box;
			border: 2px solid #000;
			border-radius: 5px;
			resize: none;
		}	
		.form-grid {
			  border: 5px solid;
			  padding: 5px 20px; 
			  width: 80%;
			  overflow: auto;
			  margin: auto;
			  background: #FFF;
			  resize: none;
		}
		fieldset {
			border: none;
			background: #FFF;
		}
		 input[type=submit], input[type=reset] {
			  background-color: #F2A30F;
			  border: 2px solid #000;
			  color: white;
			  padding: 10px 35px;
			  text-decoration: none;
			  margin: 5px 37%;
			  cursor: pointer;
			  border-radius: 10px;
		}

		.slide-width {
			width: 90%;
			margin-left: 0;
			margin-right: 0;
		}




/* Media Query for Tablet Viewport */

@media screen and (min-width: 550px), print {
	
/*Tablet Viewport: Show tab-desk class, hide mobile class */
	
		input[type=text], input[type=email], input[type=tel], textarea  {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			box-sizing: border-box;
			border: 2px solid #000;
			border-radius: 5px;
			resize: none;
		}	
		.form-grid {
			  border: 5px solid;
			  padding: 5px 20px; 
			  width: 90%;
			  overflow: auto;
			  margin: auto;
			  background: #FFF;
			  resize: none;
		}
		fieldset {
			border: none;
			background: #FFF;
		}
		 input[type=submit], input[type=reset] {
			  background-color: #F2A30F;
			  border: 2px solid #000;
			  color: white;
			  padding: 10px 35px;
			  text-decoration: none;
			  margin: 5px 37%;
			  cursor: pointer;
			  border-radius: 10px;
		}

		.slide-width {
			width: 90%;
			margin-left: 0;
			margin-right: 0;
		}

}





/* Media Query for Desktop Viewport */
@media only screen and (min-width: 769px) {
	/* Desktop Viewport: Style rule for header */
	
	
		.slide-width {
			width: 55%;
			margin-left: 0;
			margin-right: 0;
		}
		h1, h3 {
		  font-family: "DM Serif Display", serif;
		  font-weight: 500;
		  font-style: italic;
		}
		body {
			  background-image: linear-gradient(to bottom, #c0e6e7, #fff);
			  background-attachment: fixed;
			  min-height: 100vh;
		}
		.logos-img {
			display: block;
			margin: auto;
			width: 20%;
		}
		
		p {
			width: 80%;
			text-align: center;
			margin: auto;
		}
		.outfit-about {
		  font-family: "Outfit", sans-serif;
		  font-optical-sizing: auto;
		  font-weight: 400;
		  font-style: normal;
		  font-size: 1.5em;
		  text-align: center;
		}
		.outfit-about-info {
		  font-family: "Outfit", sans-serif;
		  font-optical-sizing: auto;
		  font-weight: 400;
		  font-style: normal;
		  font-size: 1.2em;
		  text-align: center;
		}
		
		footer {
		  padding-bottom: 10px;
		  padding-top: 10px;
		  font-weight: 400;
		  font-style: normal;
		  font-size: 1em;
		  width: 80%;
		  margin: auto;
		}

		footer a {
			color: #000;
		}		

		input[type=text], input[type=email], input[type=tel], textarea  {
			width: 100%;
			padding: 10px;
			margin: 5px 0;
			box-sizing: border-box;
			border: 2px solid #000;
			border-radius: 5px;
			resize: none;
		}	
		.form-grid {
			  border: 5px solid;
			  padding: 5px 20px; 
			  width: 45%;
			  overflow: auto;
			  margin: auto;
			  background: #FFF;
			  resize: none;
		}
		fieldset {
			border: none;
			background: #FFF;
		}
		 input[type=submit], input[type=reset] {
			  background-color: #F2A30F;
			  border: 2px solid #000;
			  color: white;
			  padding: 10px 35px;
			  text-decoration: none;
			  margin: 5px 37%;
			  cursor: pointer;
			  border-radius: 10px;
		}
}